In [2]:
items = [1, 2, 3, 4, 5]
squared = []
for x in items:
    squared.append(x ** 2)

## map() function

In [3]:
squared

[1, 4, 9, 16, 25]

In [7]:
items = [1, 2, 3, 4, 5]
def sqr(x): 
    return x ** 2

In [8]:
list(map(sqr, items))

[1, 4, 9, 16, 25]

In [9]:
list(map((lambda x: x **2), items))

[1, 4, 9, 16, 25]

In [38]:
#map(aFunction, aSequence)
def square(x):
        return (x**2)
def cube(x):
        return (x**3)

funcs = [square, cube]
for r in range(5):
    value = list(map(lambda x: x(r), funcs))
    print (value)

[0, 0]
[1, 1]
[4, 8]
[9, 27]
[16, 64]

In [27]:
value

In [15]:
print (x)

5

In [17]:
square(5)

25

In [28]:
def mymap(aFunc, aSeq):
    result = []
    for x in aSeq: result.append(aFunc(x))
    return result

In [29]:
list(map(sqr, [1, 2, 3]))

[1, 4, 9]

In [30]:
mymap(sqr, [1, 2, 3])

[1, 4, 9]

In [32]:

def fahrenheit(T):
    return ((float(9)/5)*T + 32)
def celsius(T):
    return (float(5)/9)*(T-32)
temp = (36.5, 37, 37.5,39)

F = map(fahrenheit, temp)
C = map(celsius, F)

In [33]:
Celsius = [39.2, 36.5, 37.3, 37.8]

In [39]:
Fahrenheit = list(map(lambda x: (float(9)/5)*x + 32, Celsius))
print (Fahrenheit)

[102.56, 97.7, 99.14, 100.03999999999999]

In [40]:
C = list(map(lambda x: (float(5)/9)*(x-32), Fahrenheit))
print (C)

[39.2, 36.5, 37.300000000000004, 37.8]

In [43]:
a = [1,2,3,4]
b = [17,12,11,10]
c = [-1,-4,5,9]



list(map(lambda x,y,z:x+y-z, a,b,c))

[19, 18, 9, 5]

In [44]:

list(map(lambda x,y:x+y, a,b))

[18, 14, 14, 14]

In [45]:
list(map(lambda x,y,z:x+y+z, a,b,c))

[17, 10, 19, 23]

## filter() function

In [46]:
list(range(-5,5))

[-5, -4, -3, -2, -1, 0, 1, 2, 3, 4]

In [47]:
list( filter((lambda x: x < 0), range(-5,5)))

[-5, -4, -3, -2, -1]

In [48]:
result = []
for x in range(-5, 5):
    if x < 0:
        result.append(x)

In [49]:
result

[-5, -4, -3, -2, -1]

In [52]:
a = [1,2,3,5,7,9]
b = [2,3,5,6,7,8]
print (list(filter(lambda x: x in a, b)))

[2, 3, 5, 7]

24

0.041666666666666664

In [57]:
fib = [0,1,1,2,3,5,8,13,21,34,55]
result = list(filter(lambda x: x % 2, fib))
print (result)

[1, 1, 3, 5, 13, 21, 55]

In [58]:
result = list(filter(lambda x: x % 2 == 0, fib))
print (result)

[0, 2, 8, 34]

In [63]:
n= [4,3,2,1]
print(list(filter(lambda x:x>2,n)))

[4, 3]

## reduce

In [59]:
from functools import reduce
reduce( (lambda x, y: x * y), [1, 2, 3, 4] )

24

In [60]:
reduce( (lambda x, y: x / y), [1, 2, 3, 4] )

0.041666666666666664

In [61]:
f = lambda a,b: a if (a > b) else b
reduce(f, [47,11,42,102,13])

102

In [62]:
reduce(lambda x, y: x+y, range(1,101))

5050

In [66]:
n= [4,3,2,1]
print(reduce(lambda x,y:x*y,n))

24